/* make the customizations */
/* VARIABLES */
@use "sass:map";

$theme-colors: (
  'light': #edf1f475,
  'dark': #353542,
  'primary': #0033ff,
  'selected': #657C97,
  'background': #E5E5E5,
  'redit1': #264A75,
  'redit2': #657C97,
  'redit3': #DEE4EA,
  'redit4': #F0F4F8,
  'redit5': #F8F9FB,
  'redit6': #BEC6CE,
  'azulredit': #0033FF,
  'azulreditlighter-1': #325bff,
  'verderedit': #2EE7BA,
  'naranjaredit': #FF5C40,
  'naranjalightredit': #ff5c4014,
  'azulcelesteredit': #BDCAFF,
  'celesteclaroredit': #E3E9FF,
  'grisclaroredit': #8692A6,
  'blueglgroup': #006DA4,
);

$font-family: "Roboto";

/* GLOBALS */
.main-background {
  background-color: map.get($theme-colors, "redit5");
}
.redit1-text {
  color: map.get($theme-colors, "redit1");
}
.redit2-text {
  color: map.get($theme-colors, "redit2");
}
.azulredit-text {
  color: map.get($theme-colors, "azulredit") !important;
}
body {
  font-family: $font-family !important;
  background-color: map.get($theme-colors, "redit5") !important;
}

h1 {
  font-weight: 700 !important;
  font-size: 2.25rem !important;
}
.header-forms {
  font-family: $font-family !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 3rem !important;
  color: map.get($theme-colors, "redit1");
}

.bg-redait {
  background: #fff !important;
}


.btn-light-main-redait {
  color: #0033ff !important;
  background-color: #fff !important;
  border-color: #0033ff !important;
  font-weight: 500 !important;
  border-width: 2px !important;
}

.btn-light-main-redait:hover {
  background-color: #f8f9fb !important;
}
.btn-light-main-naranjaredait {
  color: map.get($theme-colors, "naranjaredit") !important;
  background-color: #fff !important;
  border-color: map.get($theme-colors, "naranjaredit") !important;
  font-weight: 500 !important;
  border-width: 2px !important;
}

.btn-light-main-naranjaredait:hover {
  background-color:map.get($theme-colors, "naranjalightredit") !important;
}

.outline-primary-redait {
  background-color: #0033ff !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.btn-light-redait {
  color: #ffffff !important;
  background-color: #0033ff !important;
  border-color: transparent !important;
  font-weight: 500 !important;
}

.btn-light-redait:hover {
  background-color: #0b34da !important;
  border-color: #f9fafb !important;
}

.btn-outline-primary {
  color: #0d6efd !important;
  border-color: #0d6efd !important;
  font-weight: 500 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #0033ff !important;
  border-color: #0033ff !important;
}

.navbar-collapse {
  gap: 2rem;
}

.field-error-redait {
  color: #842029;
}

.button-transparent, .button-transparent:focus {
  background-color: transparent !important;
  border: none !important;
  padding-inline: 0px !important;
  padding-top: 7px !important;
}
.button-transparent button {
  background-color: transparent !important;
  border: none !important;
  padding-inline: 0px !important;
}

.button-transparent .dropdown-menu.show::after {
  display: block;
  position: absolute;
  right: 7px;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-style: none double solid;
  width: 0;
  height: 0;
  top: -10px;
  border-bottom: 10px solid #fff;
}

.button-transparent .dropdown-menu[data-bs-popper] {
  margin-top: 0.9rem;
}

.button-transparent button:focus {
  box-shadow: none !important;
}

.button-transparent button.dropdown-toggle::after {
  display: none !important;
}

.input-icon-error-redait {
  display: none !important;
}

.w-45 {
  width: 45% !important;
}

.w-60 {
  width: 60% !important;
}

.chip {
  margin: .2rem 0 !important;
  background-color: map.get($theme-colors, "redit4") !important;
}
.chip span {
  font-size: 11px !important;
  font-weight: 500;
  color: map.get($theme-colors, "redit2") !important;
}

/* LOGIN */
.login-redait {
  // background-color: map.get($theme-colors, "primary");
  // background-image: url('../../images/bg-login.png'), linear-gradient(140.41deg, #0033FF 29.25%, #141727 95.72%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  height: 976px;
  position: relative;
  background-image: linear-gradient(to bottom, rgb(8 71 161 / 98%), rgb(1 35 78 / 75%)), url('../../images/bg-login.png');
}
.login-redait > img {
  height: 183px !important;
}

/* HERO */
.hero-redait {
  background-image: linear-gradient(to bottom, rgb(8 71 161 / 98%), rgb(1 35 78 / 75%)), url('../../images/bg-login.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 11.875rem;
  position: relative;

  h1 {
    font-size: 3.125rem !important;
    z-index: 999;
  }

  h3 {
    font-size: 1.25rem !important;
    z-index: 999;
  }
}

.hero-redait::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(143, 145, 191, 0.3);
}

.hero-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: transparent;
}
.hero-content {
  padding: 1rem;
  h1 {
    font-size: 3.125rem !important;
    z-index: 999;
    margin-bottom: 0;
  }

  h3 {
    font-size: 1rem !important;
    font-weight: 500;
    z-index: 999;
  }
}
.header-bg-image {
  position: relative;
  color: white;
  background-image: linear-gradient(to top, rgb(8 71 161 / 98%), rgb(1 35 78 / 45%)), url('https://static.overlay-tech.com/assets/a4f1d00a-9675-4a65-826a-df01f979ca70.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 172px;
  border-radius: 0.4rem;
}


/* SEARCH */
span.badge-filter-active {
  background-color: map.get($theme-colors, "redit1") !important;
}
.opportunity {
  .opportunity-company {
    font-size: 0.7rem !important;
  }
  .opportunity-location {
    font-size: 0.6rem !important;
  }
  .opportunity-title {
    font-size: .8rem !important;
  }
  .opportunity-description {
    font-size: 0.8rem !important;
  }
}
.product {
  .avatar-container {
    width: 63px;
    height: 63px;
    background-color: map.get($theme-colors, "redit5");
    border-radius: 8px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 12%);
    border: 1px solid map.get($theme-colors, "redit3");;
  }
  .avatar-image {
    width: 100%;
  }
}

/* FORMS */
#select-w100 > div {
  width: 100% !important;
}

.character-limit em {
  font-size: .8rem;
  color: map.get($theme-colors, "redit1")
}

.search-redait-home {
  line-height: 2.1rem !important;
  min-width: 28.5rem !important;
  border-left-color: transparent !important;
  padding-inline-start: 0px !important;
}

.search-border-redait {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn-filter-redait {
  display: flex !important;
  gap: 0.813rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #ced4da !important;
  background-color: #fff !important;
  color: #6c757d !important;
  z-index: 999;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
  }
}

.list-filter-left-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-right-color: transparent;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-radius: 0;
}
.list-filter-right-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-left-color: transparent;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-radius: 0;
}
.list-filter-container {
  padding: '2px 4px';
  display: 'flex';
  align-items: center;
  width: 456;
  height: 59;
  background-color: '#fff';
  border-color: 'transparent';
  border-left-color: 'transparent';
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  gap: '1rem';
}

.list-filter-redait {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding-inline: 1rem;
  margin-inline-start: -0.5rem;
  z-index: 999;
}

/* FILTER HOME */
.filter-home-redait {
  width: 13rem;
  font-size: 0.8rem;
}

/* OPPORTUNITY CARD */
.badge-redait {
  
  font-size: 0.625rem !important;
  font-weight: 600;
  background: #F0F4F8;
}
.badge-redait > span{
  color: map.get($theme-colors, "selected");
}
.btn-see-more {
  padding: 0px !important;
  margin: 0px auto !important;
  border-radius: 20px !important;
  align-items: center !important;
  text-align: center !important;
  padding-left: 6px !important;
  background: #DEE4EA !important;
  
}
span.see-more {
  color: map.get($theme-colors, "selected") !important;
  background-color: transparent;
}
.see-more:hover {
  /* text-decoration: underline; */
  cursor: pointer;
}
.opportunity-company {
  font-size: 0.875rem;
  font-weight: 500;
  color: map.get($theme-colors, "redit1");
}

.opportunity-location {
  font-size: 0.625rem;
  font-weight: 400;
  color: map.get($theme-colors, "selected");
}

.opportunity-title {
  font-size: 1rem;
  font-weight: 500;
  color: map.get($theme-colors, "redit1");
}

.opportunity-description {
  font-size: 0.875rem;
  font-weight: 400;
  color: map.get($theme-colors, "selected");
}

.opportunity-fav {
  color: '#DEE4EA';
  position: absolute;
  right: 4%;
  top: 5%;
}
.opportunity-fav-selected {
  color: map.get($theme-colors, "selected");
  position: absolute;
  right: 4%;
  top: 5%;
}


/* MENUS */
.notification-badge > span {
  background-color: map.get($theme-colors, "naranjaredit");
  font-size: .7rem;
}

div#popover-notifications {
  max-width: 100%;
}
.menu-notifications {
  font-family: $font-family !important;
  a.actions {
    text-decoration: none;
  }
  a.actions h6 {
    font-size: 16px;
    color: map.get($theme-colors, "azulredit");
    font-weight: 500;
    padding-top: 0.3rem;
  }
  a.actions.left h6 {
    text-align: right;
  }
  .title {
    padding: 1.3rem 1.5rem .7rem 1.5rem;
  }
  .subheader {
    color: map.get($theme-colors, "redit1") !important;
    font-family: $font-family !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 1.1rem !important;
  }
  .items {
    background-color: rgba(255, 255, 255, 1) !important;
    border-radius: 5px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    position: relative !important;
    width: 100% !important;
  }
  .item {
    border-color: transparent !important;
    background-color: rgba(255, 255, 255, 1) !important;
    padding: 1rem .5rem !important;
    width: 546px !important;
  }
  .item:hover {
    background-color: map.get($theme-colors, "redit5") !important;
    padding: 1rem .5rem !important;
    width: 546px !important;
  }
  .item-left-icon {
    width: 100%;
  }
  .dark-background {
    background-color: map.get($theme-colors, "dark")
  }
  .blue-gl-background {
    background-color: map.get($theme-colors, "blueglgroup")
  }
  .blue-redit1-background {
    background-color: map.get($theme-colors, "redit1")
  }
  .item-right-icon {
    width: 30px;
    height: 19px;
  }
  .item-company {
    color: map.get($theme-colors, "redit1");
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
  }
  .item-title {
    color: map.get($theme-colors, "redit1");
    height: 38.89%;
    width: 36.53%;
    font-family: $font-family;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .item-subtitle {
    color: map.get($theme-colors, "redit2");
    height: 100%;
    width: 100%;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  .avatar-container {
    background-color: map.get($theme-colors, "redit5");
    border: 1px solid map.get($theme-colors, "redit3");
    width: 50px;
    height: 50px;
    color: map.get($theme-colors, "redit1");
  }
  .dot {
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background:  map.get($theme-colors, "redit1");
    position: absolute;
  }
  .date {
    color: map.get($theme-colors, "grisclaroredit");
    font-size: 11px;
    text-align: right;
    padding-right: 0.7rem;
  }
}


/* POST MENU */
div#popover-post {
  max-width: 100%;
}
.menu-post-items {
  background-color: rgba(255, 255, 255, 1) !important;
  border-radius: 5px !important;
  padding: 22px 22px 14px 20px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  position: relative !important;
  width: 469px !important;
}
.menu-post-item {
  border-color: transparent !important;
  background-color: map.get($theme-colors, "redit5") !important;
  padding: 1rem !important;
  width: 100% !important;
}
.menu-post-item:hover {
  background-color: map.get($theme-colors, "celesteclaroredit") !important;
  padding: 1rem !important;
  width: 100% !important;
}
.post-item-left-icon {
  width: 31px;
  height: 31px;
}
.post-item-right-icon {
  width: 30px;
  height: 19px;
}
.post-item-title {
  color: map.get($theme-colors, "azulredit");
  height: 38.89%;
  width: 36.53%;
  font-family: $font-family;
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
}
.post-item-subtitle {
  color: map.get($theme-colors, "redit1");
  height: 100%;
  width: 100%;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(38, 74, 117, 1);
}

.menu-user-items {
  background-color: rgba(255, 255, 255, 1) !important;
  border-radius: 5px !important;
  padding: 22px 0 0 0 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  position: relative !important;
  width: 391px !important;
}

.menu-user-item {
  border-color: transparent !important;
  background-color: #fff !important;
  padding-left: 1rem !important;
  width: 100% !important;
}
.menu-user-item:hover {
  border-color: transparent !important;
  background-color: map.get($theme-colors, "redit5") !important;
  padding-left: 1rem !important;
  width: 100% !important;
}
.user-item-left-icon {
  width: 35px;
  height: 34px;
}
.user-item-right-icon {
  width: 30px;
  height: 19px;
}
.user-item-title {
  color: map.get($theme-colors, "redit1");
  height: 38.89%;
  width: 36.53%;
  font-family: $font-family;
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
}
.user-item-subtitle {
  color: map.get($theme-colors, "redit1");
  height: 100%;
  width: 100%;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(38, 74, 117, 1);
}
.menu-user-hr {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.menu-user-usericon {
  fill: map.get($theme-colors, "redit1");
  // stroke: map.get($theme-colors, "redit1");
}
.menu-user-firstname {
  font-size: 1.1rem;
  font-weight: 500;
  color: map.get($theme-colors, "redit1");
}
.menu-user-email {
  font-size: .75rem;
  font-weight: 500;
  color: map.get($theme-colors, "redit2");
}
/* PROFILE PAGE */
.profile-hero-resume {
  height: 142px;
  width: 100%;
  border-radius: 10px;
  padding: 1rem;

  .avatar-container {
    width: 74px;
    height: 81px;
    background-color: map.get($theme-colors, "dark");
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 12%);
  }
  .avatar-image {
    width: 100%;
    height: 100%;
  }
  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 18px;
    color: map.get($theme-colors, "redit1");
    text-align: left;
    padding-top: 1rem;
  }
  .subtitle {
    height: 21px;
    width: 246px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: map.get($theme-colors, "selected");
  }
  .contact-media {
    padding-top: 1rem;
  }
  .avatar-info {
    background-color: map.get($theme-colors, "redit4")
  }
  .avatar-info:hover {
    background-color: map.get($theme-colors, "redit3")
  }
  
  .email, .phone, .web {
    color: map.get($theme-colors, "redit2");
    font-size: 12px;
  }
  .web {
    font-weight: 600;
  }
}

.profile-page {
  .left-col {

  }
  .right-col {

  }
  .avatar-edit {
    background-color: transparent;
  }
  .avatar-edit:hover {
    background-color: map.get($theme-colors, "light")
  }
  .edit {
    margin-top: -.9rem;
  }

  .team-member > span {
    color: map.get($theme-colors, "redit1");
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }
  .team-member > p {
    color: map.get($theme-colors, "redit2");
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }
  
  .paper-container {
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    padding: 26px 26px 30px 28px;
    box-shadow: -2px 2px 6px 0 rgb(38 74 117 / 9%);
    position: relative;

    h6.title {
      font-family: $font-family;
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
      color: map.get($theme-colors, "redit1");;
      width: 100%;
    }
    .employees {
      background-color: #f8f9fb;
      border-radius: 6px;
      font-size: 14px;
      padding: 1rem;
    }
    .description {
      color: map.get($theme-colors, "redit1");
      font-size: 16px;
    }
    .social-medias {
      background-color: map.get($theme-colors, "redit3");
      border-radius: 8px;
      width: 43px;
      min-width: 43px;
      height: 43px;
      max-height: 43px;
      padding: .5rem;
      margin: 0 .5rem;
    }
    .slim-icon {
      padding: .5rem .8rem !important;
    }
    
    hr.divider {
      padding: 0 !important;
      margin: 1.1rem -2rem !important;
      color: map.get($theme-colors, "redit6") !important;
    }
    .posts {
      h6.title {
        font-family: $font-family;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        color: map.get($theme-colors, "redit5");
        width: 100%;
      }
    }
    .post-subtitle {
      font-size: 12px;
      font-weight: 300;
      line-height: 14px;
      color: map.get($theme-colors, "redit2");
      width: 100%;
    }
    .post-location {
      font-size: 11px;
      font-weight: 300;
      line-height: 12px;
      color: map.get($theme-colors, "redit2");
      width: 100%;
    }
    .post-location > svg {
      margin: 0 0.2rem 0.1rem 0;
    }
    .post-type {
      font-size: 13px;
      font-weight: 500;
      line-height: 14px;
      color: map.get($theme-colors, "redit2");
      width: 100%;
    }
    .post-status-chip {
      font-size: 14px;
      color: map.get($theme-colors, "redit5");
      background-color: map.get($theme-colors, "primary");
      width: 140px;
      padding: 0 1rem;
    }
     // .about {}
    // .socials {
    // }
    // .services {
    // }
    // .team {}
    // .sowftware {}
  }

}

/* MESSAGES */
@media (min-width: 1600px) {
  .message-page {
    max-width: 1600px !important;
  }
}
@media (min-width: 1920px) {
  .message-page {
    max-width: 1920px !important;
  }
}
.message-page {
  
  h1.title {
    font-size: 20px !important;
    color: map.get($theme-colors, "redit1");
    line-height: 22px;
    padding-top: .5rem;
  }
  h3.title {
    font-size: 16px !important;
    color: map.get($theme-colors, "redit1");
    line-height: 18px;
    padding-top: .5rem;
  }
  .top-row {
    background-color: white;
    border-bottom: 1px solid #cecece;
    border-radius: 0.2rem 0.2rem 0 0;
    box-shadow: -2px 2px 6px rgb(38 74 117 / 9%);
    height: 72px !important;
  }
  .content-row {
    background-color: white;
    box-shadow: -2px 2px 6px rgb(38 74 117 / 9%);
  }
  .search {
    padding-left: 2rem;
    width: 80%;
  }
  .edit.col-auto {
    padding-left: 0;
  }
  .edit span {
    color: map.get($theme-colors, "redit1");
  }
  .edit > button {
    color: map.get($theme-colors, "redit1");
  }
  .left-col {
    border-right: 1px solid map.get($theme-colors, "redit3") !important;
    height: 772px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  /* SCROLLBAR */
  /* width */
  ::-webkit-scrollbar {
    width: .3rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
  }
  .right-col {
    padding-left: 1rem;
    padding-top: .4rem;
    overflow: hidden;
    .messages-container {
      min-height: 700px;
    }
    .input-message-container {
      min-height: 72px;
      max-width: 103%;
      background-color: map.get($theme-colors, "redit4");
      margin-left: -20px;
      overflow: hidden;
    }
    .input-message {
      width: 100%;
      margin: 0 1rem;
      font-size: 14px;
      padding: 0.5rem;
      color: map.get($theme-colors, "redit1") !important;
      border: map.get($theme-colors, "background") !important;
      border-radius: 5px;
    }
    textarea.input-message:focus-visible {
      outline: none !important;
      border: map.get($theme-colors, "background") !important;
      box-shadow: 0 0 10px #719ece;
    }
    .btn-send.active {
      background-color: map.get($theme-colors, "azulreditlighter-1") !important;
    }
    .btn-send.active:hover {
      background-color: map.get($theme-colors, "azulredit") !important;
    }
    .btn-send.inactive {
      background-color: map.get($theme-colors, "redit3") !important;
    }
  }
  .contact-list {
    font-family: $font-family !important;
    hr.divider {
      color: map.get($theme-colors, "redit6") !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    a.actions {
      text-decoration: none;
    }
    a.actions h6 {
      font-size: 16px;
      color: map.get($theme-colors, "azulredit");
      font-weight: 500;
      padding-top: 0.3rem;
    }
    a.actions.left h6 {
      text-align: right;
    }
    .title {
      padding: 1.3rem 1.5rem .7rem 1.5rem;
    }
    .subheader {
      color: map.get($theme-colors, "redit1") !important;
      font-family: $font-family !important;
      font-style: normal !important;
      font-weight: 500 !important;
      font-size: 1rem !important;
      line-height: 1.1rem !important;
    }
    .items {
      background-color: rgba(255, 255, 255, 1) !important;
      border-radius: 5px !important;
      display: flex !important;
      flex-direction: column !important;
      position: relative !important;
      width: 100% !important;
    }
    .item {
      border-color: transparent !important;
      background-color: rgba(255, 255, 255, 1) !important;
      padding: 1rem .5rem !important;
    }
    .item:hover {
      background-color: map.get($theme-colors, "redit5") !important;
      padding: 1rem .5rem !important;
    }
    .item-left-icon {
      width: 100%;
    }
    .dark-background {
      background-color: map.get($theme-colors, "dark")
    }
    .blue-gl-background {
      background-color: map.get($theme-colors, "blueglgroup")
    }
    .blue-redit1-background {
      background-color: map.get($theme-colors, "redit1")
    }
    .item-right-icon {
      width: 30px;
      height: 19px;
    }
    .item-company {
      color: map.get($theme-colors, "redit1");
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
    }
    .item-title {
      color: map.get($theme-colors, "redit1");
      height: 38.89%;
      width: 36.53%;
      font-family: $font-family;
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;
      margin-bottom: 8px;
    }
    .item-subtitle {
      color: map.get($theme-colors, "redit2");
      height: 100%;
      width: 100%;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
    .unread {
      color:  map.get($theme-colors, "azulredit");
    }
    .avatar-container {
      background-color: map.get($theme-colors, "redit5");
      border: 1px solid map.get($theme-colors, "redit3");
      width: 50px;
      height: 50px;
      color: map.get($theme-colors, "redit1");
    }
    .dot {
      height: 7px;
      width: 7px;
      border-radius: 100%;
      background:  map.get($theme-colors, "redit1");
      position: absolute;
    }
    .notification-dot {
      height: 1rem;
      width: 1rem;
      font-size: .624rem;
      border-radius: 100%;
      background:  map.get($theme-colors, "azulredit");
      position: absolute;
      margin-top: 1rem;
    }
    .date {
      color: map.get($theme-colors, "grisclaroredit");
      font-size: 11px;
      text-align: right;
      padding-right: 0.7rem;
    }
  }

  .messages {
    font-family: $font-family !important;
    .avatar-container.me {
      background-color: #EF5DA8;
      color: white;
    }
    .from-them {
      background-color: map.get($theme-colors, "redit5") !important;
      color: map.get($theme-colors, "redit1");
      height: 100%;
      width: 100%;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      padding: .8rem;
      position: relative;
    }
    .from-them:after {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      z-index: 1;
      border-style: solid;
      border-width: 0 0 20px 20px;
      border-color: transparent transparent #f8f9fb transparent;
      top: 81%;
      left: -20px;
      margin-top: -10px;
    }
    .from-them:hover {
      background-color: map.get($theme-colors, "redit4") !important;
    }
    .from-me-container {
      display: flex;
      flex-direction: row-reverse;
    }
    .from-me {
      background-color: map.get($theme-colors, "redit2") !important;
      color: map.get($theme-colors, "redit5");
      height: 100%;
      width: 100%;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      padding: .8rem;
      position: relative;
    }
    .from-me:after {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      z-index: 1;
      border-style: solid;
      border-width: 20px 0 0 20px;
      border-color: transparent transparent transparent #657c97;
      top: 81%;
      right: -20px;
      margin-top: -10px;
    }
    .from-me:hover {
      background-color: map.get($theme-colors, "redit1") !important;
    }

    .date {
      color: map.get($theme-colors, "grisclaroredit");
      font-size: 11px;
      text-align: right;
      padding-right: 0.7rem;
      display: flex;
    }

    .status-check {
      color: map.get($theme-colors, "verderedit");
    }
    .status-uncheck {
      color: map.get($theme-colors, "redit2");
    }

    a.actions {
      text-decoration: none;
    }
    a.actions h6 {
      font-size: 16px;
      color: map.get($theme-colors, "azulredit");
      font-weight: 500;
      padding-top: 0.3rem;
    }
    a.actions.left h6 {
      text-align: right;
    }
    .title {
      padding: 1.3rem 1.5rem .7rem 1.5rem;
    }
    .subheader {
      color: map.get($theme-colors, "redit1") !important;
      font-family: $font-family !important;
      font-style: normal !important;
      font-weight: 500 !important;
      font-size: 1rem !important;
      line-height: 1.1rem !important;
    }
    .items {
      background-color: rgba(255, 255, 255, 1) !important;
      border-radius: 5px !important;
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      position: relative !important;
      width: 100% !important;
      padding-right: 1rem;
    }
    .item {
      border-color: transparent !important;
      background-color: rgba(255, 255, 255, 1) !important;
      padding: 1rem .5rem !important;
    }
    
    .item-left-icon {
      width: 100%;
    }
    .dark-background {
      background-color: map.get($theme-colors, "dark")
    }
    .blue-gl-background {
      background-color: map.get($theme-colors, "blueglgroup")
    }
    .blue-redit1-background {
      background-color: map.get($theme-colors, "redit1")
    }
    .item-right-icon {
      width: 30px;
      height: 19px;
    }
    .item-company {
      color: map.get($theme-colors, "redit1");
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
    }
    .item-title {
      color: map.get($theme-colors, "redit1");
      height: 38.89%;
      width: 36.53%;
      font-family: $font-family;
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;
      margin-bottom: 8px;
    }
    
    .unread {
      color:  map.get($theme-colors, "azulredit");
    }
    .avatar-container {
      background-color: map.get($theme-colors, "redit5");
      border: 1px solid map.get($theme-colors, "redit3");
      width: 50px;
      height: 50px;
      color: map.get($theme-colors, "redit1");
    }
    .dot {
      height: 7px;
      width: 7px;
      border-radius: 100%;
      background:  map.get($theme-colors, "redit1");
      position: absolute;
    }
    .notification-dot {
      height: 1rem;
      width: 1rem;
      font-size: .624rem;
      border-radius: 100%;
      background:  map.get($theme-colors, "azulredit");
      position: absolute;
      margin-top: 1rem;
    }
  }
  .new-message {
    padding: 1.5rem 2.5rem;
    h5 {
      font-size: 14px !important;
      color: map.get($theme-colors, "redit1");
      line-height: 16px;
      padding-top: .5rem;
    }
    .input-message-container {
      min-height: 450px;
    }
    .input-search-receiver {
      width: 100%;
      font-size: 14px;
      color: map.get($theme-colors, "redit1") !important;
    }
    input.input-search-receiver:focus-visible {
      outline: none !important;
      border: map.get($theme-colors, "background") !important;
      box-shadow: 0 0 10px #719ece;
    }
    .input-new-message {
      width: 100%;
      font-size: 14px;
      padding: 0.5rem;
      color: map.get($theme-colors, "redit1") !important;
      border: 1px solid map.get($theme-colors, "background") !important;
      border-radius: 5px;
    }
    textarea.input-new-message:focus-visible {
      outline: none !important;
      border: map.get($theme-colors, "background") !important;
      box-shadow: 0 0 10px #719ece;
    }
    
    .btn-send.active {
      background-color: map.get($theme-colors, "azulreditlighter-1") !important;
    }
    .btn-send.active:hover {
      background-color: map.get($theme-colors, "azulredit") !important;
    }
    .btn-send.inactive {
      background-color: map.get($theme-colors, "redit3") !important;
    }
  }
}



/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';
