/* make the customizations */

$theme-colors: (
  // 'info': tomato,
  // 'danger': teal,
  'dark': #353542,
  'primary': #0033ff
);

/* GLOBALS */
body {
  font-family: 'Roboto' !important;
}

h1 {
  font-weight: 700 !important;
  font-size: 2.25rem !important;
}

.bg-redait {
  background: #fff !important;
}

.btn-light-main-redait {
  color: #0033ff !important;
  background-color: #fff !important;
  border-color: #0033ff !important;
  font-weight: 500 !important;
  border-width: 2px !important;
}

.btn-light-main-redait:hover {
  background-color: #f8f9fb !important;
}

.outline-primary-redait {
  background-color: #0033ff !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.btn-light-redait {
  color: #ffffff !important;
  background-color: #0033ff !important;
  border-color: transparent !important;
  font-weight: 500 !important;
}

.btn-light-redait:hover {
  background-color: #0b34da !important;
  border-color: #f9fafb !important;
}

.btn-outline-primary {
  color: #0d6efd !important;
  border-color: #0d6efd !important;
  font-weight: 500 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #0033ff !important;
  border-color: #0033ff !important;
}

.navbar-collapse {
  gap: 2rem;
}

.field-error-redait {
  color: #842029;
}

.button-transparent button {
  background-color: transparent !important;
  border: none !important;
  padding-inline: 0px !important;
}

.button-transparent .dropdown-menu.show::after {
  display: block;
  position: absolute;
  right: 7px;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-style: none double solid;
  width: 0;
  height: 0;
  top: -10px;
  border-bottom: 10px solid #fff;
}

.button-transparent .dropdown-menu[data-bs-popper] {
  margin-top: 0.2rem;
}

.button-transparent button:focus {
  box-shadow: none !important;
}

.button-transparent button.dropdown-toggle::after {
  display: none !important;
}

.input-icon-error-redait {
  display: none !important;
}

.w-45 {
  width: 45% !important;
}

.w-60 {
  width: 60% !important;
}

/* LOGIN */
.login-redait {
  background-color: #0033ff;
  border-radius: 1rem;
}

/* HERO */
.hero-redait {
  background-image: url('../../images/bg-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 11.875rem;
  position: relative;

  h1 {
    font-size: 3.125rem !important;
    z-index: 999;
  }

  h3 {
    font-size: 1.25rem !important;
    z-index: 999;
  }
}

.hero-redait::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(143, 145, 191, 0.3);
}

/* FORM */
.search-redait-home {
  line-height: 2.1rem !important;
  min-width: 28.5rem !important;
  border-left-color: transparent !important;
  padding-inline-start: 0px !important;
}

.search-border-redait {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn-filter-redait {
  display: flex !important;
  gap: 0.813rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #ced4da !important;
  background-color: #fff !important;
  color: #6c757d !important;
  z-index: 999;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
  }
}

.list-filter-redait {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding-inline: 1rem;
  margin-inline-start: -0.5rem;
  z-index: 999;
}

/* FILTER HOME */
.filter-home-redait {
  width: 14rem;
  font-size: 0.8rem;
}

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';
